$dark-blue-1:  hsl(217, 28%, 15%);
$dark-blue-2:  hsl(218, 28%, 13%);
$dark-blue-3: hsl(216, 53%, 9%);
$dark-blue-4: hsl(219, 30%, 18%);

// Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)
