
.card {
  border: 1px solid rgba(33,34,36,.15);
  border-radius: 4px;
  padding: 20px 40px;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
.carwow-graph {
  position: relative;
}

.carwow-graph__bar {
  display: flex;
  width: 100%;
}


.card__heading {
  font-weight: normal;
  justify-content: center;
  margin-bottom: 80px;
}






.carwow-graph__bar-segment {
  width: 25%;
  height: 6px;
  margin-right: 2px;
}

.carwow-graph__bar-segment--1{
  background-color: darkgreen;
}
.carwow-graph__bar-segment--2{
  background-color: green;
  width: 25%;
  height: 6px;
  margin-right: 2px;
}
.carwow-graph__bar-segment--3{
  background-color: orange;
  width: 25%;
  height: 6px;
  margin-right: 2px;
}
.carwow-graph__bar-segment--4{
  background-color: red;
  width: 25%;
  height: 6px;
  margin-right: 2px;
}

.carwow-graph__bar::before,
.carwow-graph__bar::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: grey;
  margin-right: 2px;
}



//
.carwow-graph__price {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  background-color:  #3D414A;
  position: absolute;
  top: -50px;
  transform: translateX(-13%);
}

.carwow-graph__price::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3D414A;
  border-bottom: 0;
  bottom: 0;
  position: absolute;
  margin-bottom: -5px;
}

.carwow-graph__circle-icon {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 3px solid #3D414A;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
  top: -3px;
  animation: 4s ease-in-out 11s infinite normal forwards;
}
 .btn-primary {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D3D3D3;
    padding: 5px 0px;
    color: #3D414A;
    background-color: #fff;

    transition: background-color .15s;
    min-width: 82px;
    text-decoration: none;
  }

  .btn:active {
     background-color: #F0F8FF;
     outline: none;
     border: 1px solid #4169E1;
   }
